<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- make install: no by default -->
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>io.github.lima-vm.socket_vmnet.bridged.en0</string>
		<key>Program</key>
		<string>/opt/socket_vmnet/bin/socket_vmnet</string>
		<key>ProgramArguments</key>
		<array>
			<string>/opt/socket_vmnet/bin/socket_vmnet</string>
			<string>--vmnet-mode=bridged</string>
			<string>--vmnet-interface=en0</string>
			<string>/var/run/socket_vmnet.bridged.en0</string>
		</array>
		<key>StandardErrorPath</key>
		<string>/var/log/socket_vmnet/bridged.en0.stderr</string>
		<key>StandardOutPath</key>
		<string>/var/log/socket_vmnet/bridged.en0.stdout</string>
		<key>RunAtLoad</key>
		<true />
		<key>KeepAlive</key>
		<true />
		<key>UserName</key>
		<string>root</string>
		<!-- Avoid resource limits harming performance -->
		<key>ProcessType</key>
		<string>Interactive</string>
	</dict>
</plist>
