<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- make install: no by default -->
<plist version="1.0">
	<dict>
		<!-- vde_switch itself is maintained at github.com/virtualsquare/vde-2 , but this plist file is maintained at github.com/lima-vm/vde_vmnet -->
		<key>Label</key>
		<string>io.github.virtualsquare.vde-2.vde_switch.bridged.en0.plist</string>
		<key>Program</key>
		<string>/bin/sh</string>
		<key>ProgramArguments</key>
		<array>
			<!-- vde_switch requires "daemon" flag for non-tty mode since 2014: https://github.com/virtualsquare/vde-2/issues/30 -->
			<!-- we use `tail -f /dev/null` to keep the launchd job active -->
			<string>/bin/sh</string>
			<string>-euc</string>
      <string>/usr/local/bin/vde_switch --daemon --sock=/var/run/vde.bridged.en0.ctl --pidfile=/var/run/vde.bridged.en0.pid --group=staff --dirmode=0770 &amp;&amp; trap 'kill $(cat /var/run/vde.pid)' EXIT ; tail -f /dev/null</string>
		</array>
		<key>StandardErrorPath</key>
		<string>/var/run/vde.bridged.en0.stderr</string>
		<key>StandardOutPath</key>
		<string>/var/run/vde.bridged.en0.stdout</string>
		<key>RunAtLoad</key>
		<true />
		<key>UserName</key>
		<string>daemon</string>
		<key>GroupName</key>
		<string>staff</string>
	</dict>
</plist>
